<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daftar mahasiswa</title>
  </head>
  <body>
    <h1>Daftar mahasiswa</h1>
    <table border="1">
      <thead>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>Prodi</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="mhs : ${daftarMahasiswa}">
          <td th:text="${mhs.nim}"></td>
          <td th:text="${mhs.nama}"></td>
          <td th:text="${mhs.prodi}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
