<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Daftar ruangan</title>
    </head>
    <body>
        <h1>Daftar mahasiswa</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>nama ruangan</th>
                    <th>deskripsi</th>
                    <th>gambar</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ruang : ${daftarRuangan}">
                    <td th:text="${ruang.nama_ruangan}"></td>
                    <td th:text="${ruang.deskripsi}"></td>
                    <td th:text="${ruang.gambar}"></td>
                    <td th:text="${ruang.status}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
